{% extends "base.html" %}
{% block head %}
{% endblock %}

{% block title %}  {{food_types.name}} Page  {% endblock %}

{% block content %}
<h1 class='text-center'>{{food_types.name}}</h1>

<div class="row row-cols-1 row-cols-md-3  row-cols-lg-4 ">
{% for t in foods%}
  <div class="col mb-4">
    <div class="card">
      <a href='{% url "foods" t.id %}'><img src="{{t.picture.url}}" class="card-img-top" alt="{{t.name}}"></a>
      <div class="card-body">
        <a href='{% url "foods" t.id %}'> <h5 class="card-title">{{t.name}}</h5></a>
        <p class="card-text">This is a longer card with supporting text.</p>
      </div>
    </div>
  </div>
{% endfor%}
</div>

{% endblock %}

{% block script %}
{% endblock %}


  
