{% extends "base.html" %}
{% block head %}
{% endblock %}

{% block title %}  {{food_types.name}} Page  {% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-md-3  row-cols-lg-4 ">
{% for t in food%}
  <div class="col mb-4">
    <div class="card">
      <img src="{{t.picture.url}}" class="card-img-top" alt="{{t.name}}">
      <div class="card-body">
        <h5 class="card-title" href='{% url "food" t.id %}'>{{t.name}}</h5>
        <p class="card-text">This is a longer card with supporting text.</p>
      </div>
    </div>
  </div>
{% endfor%}
</div>

{% endblock %}

{% block script %}
{% endblock %}


  
