{% extends "base.html" %}
{% block head %}
{% endblock %}

{% block title %}  {{food.name}} {{food.food_type}}  {% endblock %}

{% block content %}
<div class="row text-Center">
  <div class="col-12 col-md-6 mb-4">
    <div class="card">
      <img src="{{food.picture.url}}" class="card-img-top" alt="{{food.name}}">
      <div class="card-body">
        <h5 class="card-title">{{food.name}}</h5>
        <p class="card-text">This is a longer card with supporting text.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block script %}
{% endblock %}


  
