{% extends "base.html" %} {% block head %} {% endblock %} {% block title %}Pinnochio’s Pizza & Subs{% endblock %}
{% block content %}

<div class='row mx-auto' style="max-width: 1400px;">
  <div class="col-12 col-md-9">
    <div class="row justify-content-center">
      <h1 class='my-3'>Welcome to Pinnochio’s Pizza & Subs</h1>
      <div class="row row-cols-1 row-cols-md-3">
        {% for t in types%}
        <div class="col mb-4">
          <div class="card">
            <a href='{% url "courses" t.id %}'>
              <img src="{{t.picture.url}}" class="card-img-top" alt="{{t.name}}" />
            </a>
            <div class="card-body">
              <a href='{% url "courses" t.id %}'>
                <h5 class="card-title">{{t.name}}</h5>
              </a>
              <div class="input-group">
                <select class="custom-select" onchange='updatePrice(this)'>
                  {% for f in foods %}
                  {% if f.food_type == t %}<option data-toppings='{{f.topping_count}}' data-price='{{f.price}}'
                    data-extra='{{f.accepts_extra|lower}}' value='{{f.id}}'>{{f.size|capfirst}} {{f.name|capfirst }}
                  </option>
                  {% endif%}
                  {% endfor %}
                </select>
                <div class="input-group-append">
                  <span class="input-group-text px-1">0</span>
                  <span class='my-auto'><a href='#'><i class="fas fa-cart-plus text-dark fa-lg"
                        onclick='addMeToBasket(this)'></i></a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor%}
      </div>
    </div>
  </div>
  <div class="col-md-3 d-none d-md-block mt-3 " style='max-height:700px;overflow:auto'>
    <h4 class="d-flex justify-content-between align-items-center mb-3">
      <span class="text-muted">Your cart</span>
      <span class="badge badge-secondary badge-pill" data-inBasket>0</span>
    </h4>
    <ul class="list-group" id='theBasket'>
    </ul>
    <ul class="list-group mb-3">
      <li class="list-group-item d-flex justify-content-between py-2">
        <h5 class="text-dark">Total (CAD)</h5>
        <h5><strong class="text-dark">$0</strong></h5>
      </li>
    </ul>

    <form class="card p-2 mb-3">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Promo code">
        <div class="input-group-append">
          <button type="submit" class="btn btn-secondary">Redeem</button>
        </div>
      </div>
    </form>
    <form class="card p-2">
      <div class="input-group d-flex justify-content-between px-4">
        <button type='button' class="btn btn-success" onclick="submitOrder()">ORDER</button>
        <button type='button' class="btn btn-info" onclick="resetBasket()">RESET</button>
      </div>
    </form>
  </div>
</div>
{% endblock %} {% block script %}
<script>
  $(() => {
    $('#theBasket').empty();
    if (localStorage.getItem('pizzaOrder')) {
      basket = JSON.parse(localStorage.getItem('pizzaOrder'));
      basket.forEach(o => addToBasket(o));
    }
    $('select').trigger('change');
    updateTotal();
  });


  </script>
  {% endblock %}