{% extends "base.html" %}
{% block head %}
{% endblock %}

{% block title %} Order List {% endblock %}

{% block content %}
<h1 class='text-center'>Orders</h1>
<div class='container'>
  <div class="card-deck">
    {% for o in order%}
    <div class="card">
      {% if o.status == 'initiated' %}
        <div class='card-body bg-warning'>
      {% endif %}     
      {% if o.status == 'ready' %}
        <div class='card-body bg-info'>
      {% endif %} 
      {% if o.status == "completed" %}
        <div class='card-body bg-success'>
      {% endif %}
        <a href='{% url "orderDetail" o.id %}'>
          <h5 class="card-title d-flex justify-content-between align-items-center mb-1">Order# {{o.id|ljust:"15" }} {{ o.date_added|date:"SHORT_DATE_FORMAT" }}
          <span class="badge badge-primary badge-pill">{{o.order_total}}</span>
          </h5>
        </a>
        <ul class="list-group py-1">
          <!--list-group-horizontal !-->
          {% for d in o.items.all%}
          <li class="list-group-item py-1 d-flex justify-content-between align-items-center ">{{forloop.counter}}- {{d.food}}<span class="badge badge-secondary badge-pill">{{d.quantity}}</span></li>
          {% endfor %}
          <ul>
      </div>


    {% empty %}
    <div class='mx-auto'>
      <p> There is No record of any order! </p>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}